<h1>
    Adicionar Cliente
</h1>

<form method="post" action="/Clientes/Salvar">
    <div>
        <label>Nome: </label>
        <input type="text" name="Nome" autofocus required>
    </div>
    <div>
        <label>Idade: </label>
        <input type="number" name="Idade" required>
    </div>

    <div>
        <a href="/Clientes">Voltar para Clientes</a>
        <button type="submit">Salvar</button>
    </div>
</form>
